{% extends 'base.html.twig' %}

{% block body %}

    <h1>People</h1>

    <div class="row">

        {% for user in users %}

            <div class="col-md-4">

                {% include 'users/partials/user-card.html.twig' %}

            </div>

        {% endfor %}

    </div>

{% endblock %}
