{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.session.flashBag.get('success') %}

        <div class="alert alert-success">
            <strong>Success!</strong> {{ message }}
        </div>

    {% endfor %}

    {% for message in app.session.flashBag.get('error') %}

        <div class="alert alert-warning">
            <strong>Error!</strong> {{ message }}
        </div>

    {% endfor %}

    <div class="row">
        <div class="col-md-6" id="friends-list">

            <h1>My friends</h1>

            {% for user in app.user.friends %}

                {% include 'users/partials/user-card.html.twig' %}

            {% else %}

                <li>You still don't have any friends :(</li>

            {% endfor %}

        </div>
        <div class="col-md-6">

            <div id="received-friendship-requests-list">

                <h1>Received friendship requests</h1>

                {% for request in app.user.receivedFriendshipRequests %}

                    {% set user = request.fromUser %}

                    {% include 'users/partials/user-card.html.twig' %}

                {% else %}

                    <li>0 non-responded friendship requests found.</li>

                {% endfor %}

            </div>

            <div id="sent-friendship-requests-list">

                <h1>Sent friendship requests</h1>

                {% for request in app.user.sentFriendshipRequests %}

                    {% set user = request.toUser %}

                    {% include 'users/partials/user-card.html.twig' %}

                {% else %}

                    <li>You haven't sent any friendship requests.</li>

                {% endfor %}

            </div>

            <div id="friends-suggestions">

                <h1>Suggested friends</h1>

                {% for user in suggested_users %}

                    {% set suggested_user = true %}

                    {% include 'users/partials/user-card.html.twig' %}

                {% else %}

                    <li>No suggested friends for you. Sorry.</li>

                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}