default:

    extensions:

        Behat\MinkExtension:
            base_url: 'http://localhost:8000'
            goutte: ~
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~

        FriendsOfBehat\SymfonyExtension: ~

        FriendsOfBehat\CrossContainerExtension: ~

        FriendsOfBehat\ContextServiceExtension:
            imports:
                - 'features/bootstrap/config/services.yml'

    suites:
        registration:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.users.registration'
            filters:
                tags: "@users"

        login:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.users.login'
            filters:
                tags: "@login"