default:

    extensions:

        Behat\MinkExtension:
            base_url: 'http://localhost:8000'
            goutte: ~
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
        FriendsOfBehat\SymfonyExtension: ~
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - 'features/bootstrap/config/services.yml'
        FriendsOfBehat\VariadicExtension: ~

    suites:
        registration:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.users.registration'
            filters:
                tags: "@users"

        login:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.users.login'
            filters:
                tags: "@login"

        thoughts:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.setup.thoughts'
                - 'app.feature_contexts.setup.pagination'
                - 'app.feature_contexts.thoughts'
            filters:
                tags: '@thoughts'

        creating_communities:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.communities.creating'
            filters:
                tags: '@creating_communities'

        browsing_communities:
            contexts_services:
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.communities'
                - 'app.feature_contexts.communities.browsing'
            filters:
                tags: '@browsing_communities'

        viewing_communities:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.setup.communities'
                - 'app.feature_contexts.communities.viewing'
            filters:
                tags: '@viewing_communities'

        viewing_user_profile:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.setup.friendships'
                - 'app.feature_contexts.setup.thoughts'
                - 'app.feature_contexts.users.viewing_user_profile'
            filters:
                tags: '@viewing_user_profile'

        managing_friendships:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.setup.friendships'
                - 'app.feature_contexts.friends.managing'
            filters:
                tags: '@managing_friendships'

        browsing_users:
            contexts_services:
                - 'app.feature_contexts.hooks.doctrine'
                - 'app.feature_contexts.setup.security'
                - 'app.feature_contexts.setup.users'
                - 'app.feature_contexts.setup.friendships'
                - 'app.feature_contexts.setup.thoughts'
                - 'app.feature_contexts.users.browsing'
            filters:
                tags: '@browsing_users'