{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.session.flashBag.get('success') %}

        <div class="alert alert-success">
            <strong>Success!</strong> {{ message }}
        </div>

    {% endfor %}

{% endblock %}
